body {
	background-color:rgb(228, 228, 228);
}
* {
	box-sizing: border-box;
}
.myheader {
	background-color: rgb(23, 23, 23);
	display: flex;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	color:whitesmoke;
	align-items: center;
  }
.mainContents{
	margin: 0 auto;
	padding-left: 5px;
	width: fit-content;
}
.handle{
	cursor: move;
	position: relative;
}
.handle img{
	min-width: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.PlusBtn{
	display: block;
	margin: 5px auto;
	width: 25px;
	cursor: pointer;
}
.MinusBtn{
	cursor: pointer;
	position: relative;
}
.MinusBtn img{
	min-width: 20px;
	width: 20px;
	position: absolute;
	top: 50%; /*親要素を起点に上から50%*/
	left: 50%;  /*親要素を起点に左から50%*/
	transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.textValue{
	width: 60px;
	min-width: 50px;
}
.smallNotes{
	font-size: 0.7em;
}
.postIt{
	width: fit-content;
	padding: 10px;
	padding-top: 5px;
	padding-left: 5px;
	/* margin-left: 10px; */
	margin-top: 10px;
	background-color: rgb(239, 239, 239);
}
.postIt.bpm{
	border-left: 5px solid #ea5550;
}
.postIt.speed{
	border-left: 5px solid #37a34a;
}
.postIt.graphArea{
	border-left: 5px solid #767676;
	width: 100%;
}
.tableBg{
	width: 850px;
	height: 200px;
	/* position: relative; */
	left: 1%;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	scrollbar-color: #d47070 #e4e4e4;
	scrollbar-width: thin;
}
.table_fhs{
	background-color: rgb(231, 247, 253);
}
.table_chs{
	background-color: rgb(255, 238, 218);
}
.initSettingBg
{
	width: 100%;
	left: 1%;
	padding-bottom: 10px;
}
.initSetting{
	width: 300px;
}
.table-arr{
	width: 100%;
	/* min-height: 400px; */
	/* width: 1000px; */
}
.graph{
	height: 200px;
	padding-top: 10px;
}
.c3-axis-y text 
{
	font-size: 12px;
}
.c3-axis-x text
{
	font-size: 12px;
}
.c3-line
{
	stroke-width: 3px !important; 
}
table th,table td{
	text-align: left;
	vertical-align: middle;
}
.optionalCol {
	/* visibility: collapse; */
	display: none;
}
.barCol {
	width: 10%;
}
.beatCol {
	width: 0%;
}
.bpmCol {
	width: 85%;
}
.iconCol {
	width: 5%;
}
.operationCol {
	width: 60%;
}
.memoCol {
	width: 25%;
}
@media (600px <= width) {
	.optionalCol {
		display: table-cell;
	}
	.barCol {
		width: 10%;
	}
	.beatCol {
		width: 30%;
	}
	.bpmCol {
		width: 55%;
	}
	.operationCol {
		width: 30%;
	}
	.memoCol {
		width: 25%;
	}
}