body {
	background-color:rgb(228, 228, 228);
	font-size: 10pt;
}
* {
	box-sizing: border-box;
}
.myheader {
	background-color: rgb(23, 23, 23);
	display: flex;
	width: 100%;
	height: 38px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	color:whitesmoke;
	align-items: center;
	padding-left: 5px;
}
.myfooter {
	background-color: rgb(23, 23, 23);
	display: flex;
	width: 100%;
	height: 1.5rem;
	font-size: 1rem;
	color: whitesmoke;
	padding-left: 5px;
}
.myfooter a {
	color: whitesmoke;
}
.title {
	font-size: 1.4rem;
	margin: 0 auto;
	width: 100%;
	display: inline-block;
}
.container{
	margin: 0 auto;
	padding: 0 5px 0 5px;
	width: 100%;
	max-width: 1200px;
}
.mainContents {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, max-content);
	grid-template-areas: 
		"info"
		"bpm"
		"midori"
		"graph";
	gap: 10px;
}
.flexWrap {
	display: flex;
}
.infoTitle {
	width: 100%;
}
.infoUrl {
	width: 100%;
}
.genUrlButton {
	width: 7rem;
}
.handle{
	cursor: move;
	position: relative;
}
.handle img{
	min-width: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.PlusBtn{
	display: block;
	margin: 5px auto;
	width: 25px;
	cursor: pointer;
}
.MinusBtn{
	cursor: pointer;
	position: relative;
}
.MinusBtn img{
	min-width: 20px;
	width: 20px;
	position: absolute;
	top: 50%; /*親要素を起点に上から50%*/
	left: 50%;  /*親要素を起点に左から50%*/
	transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.textValue{
	width: 60px;
	min-width: 50px;
}
.textMemo{
	width: 100%;
}
.textReadOnly{
	background-color:transparent;
}
.smallNotes{
	font-size: 0.7em;
}
.postIt{
	width: 100%;
	padding: 5px;
	/* margin-left: 10px; */
	/* margin-bottom: 10px; */
	background-color: rgb(239, 239, 239);
}
.postIt.info{
	grid-area: info;
	border-left: 5px solid rgb(118, 118, 118);
}
.postIt.bpm{
	grid-area: bpm;
	border-left: 5px solid rgb(234, 85, 80);
}
.postIt.speed{
	grid-area: midori;
	border-left: 5px solid rgb(55, 163, 74);
}
.postIt.graphArea{
	grid-area: graph;
	border-left: 5px solid #767676;
	width: 100%;
}
.tableBg{
	/* width: 850px; */
	width: 100%;
	max-width: 850px;
	height: 200px;
	/* position: relative; */
	left: 1%;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	scrollbar-color: #d47070 #e4e4e4;
	scrollbar-width: thin;
}
.table_fhs{
	background-color: #e7f7fd;
}
.table_chs{
	background-color: #ffeeda;
}
.initSettingBg
{
	width: 100%;
	left: 1%;
	padding-bottom: 10px;
	padding-left: 10px;
}
.initSettingLabel {
	display: inline-block;
	width: 60px;
}
.initSetting {
	width: 300px;
}
.initSetting td, .graphSetting td {
	padding: 0;
}
.graphSettingLabel {
	display: inline-block;
	width: 170px;
}
.table-arr{
	width: 100%;
	/* min-height: 400px; */
	/* width: 1000px; */
}
.graph{
	height: 200px;
	padding-top: 10px;
	background-color: rgb(249, 249, 249);
}
.c3-axis-y text 
{
	font-size: 12px;
}
.c3-axis-x text
{
	font-size: 12px;
}
.c3-line
{
	stroke-width: 3px !important; 
}
table th,table td{
	text-align: left;
	vertical-align: middle;
}
.optionalCol {
	/* visibility: collapse; */
	display: none;
}
.barCol {
	width: 10%;
	min-width: 80px;
}
.beatCol {
	width: 0%;
	min-width:250px;
}
.bpmCol {
	width: 85%;
	min-width: 80px;
}
.iconCol {
	width: 5%;
	min-width: 30px;
}
.operationCol {
	width: 45%;
	min-width: 240px;
}
.memoCol {
	width: 40%;
	min-width: 210px;
}
@media (1000px <= width) {
	body {
		font-size: 12pt;
	}
	.initSettingLabel {
		width: 80px;
	}
	.mainContents {
		grid-template-columns: 30% 70%;
		grid-template-rows: max-content, max-content, max-content;
		grid-template-areas: 
			"info midori"
			"bpm midori"
			"graph graph";
		gap: 10px;
	}
	/* .optionalCol {
		display: table-cell;
	}
	.barCol {
		width: 10%;
	}
	.beatCol {
		width: 30%;
	}
	.bpmCol {
		width: 55%;
	}
	.operationCol {
		width: 30%;
	}
	.memoCol {
		width: 25%;
	} */
}